extends template/base.pug

block content
    .primary.z-depth-1
        .container
            .wrapper
                h4 CSS
                p HTML responsive elements, material design styles and an flexbox grid system.
    .container
        .row
            .col-xs-12.col-md-4.end-xs.start-md
                ul
                    li
                        a(href="#") Overview
                    li
                        a(href="#") Colors
                        ul.submenu
                            li: a(href="#") Color pallet
                            li: a(href="#") Using color classes


            .col-xs-12.col-md-8
                h5 HTML5 doctype
                p Materius uses certain HTML elements and CSS prperties that require the use of the HTML5 doctype:
                .section
                    h4 Colors
                    p Materius have one class for each colo of material desin pallet.
                    .section
                        h5 Color Pallet
                        .row
                            each palet, base in colors
                                .col-xs-12.col-md-3
                                    h5= base
                                    each hexa, color in palet
                                        .wrapper(class=base + ' ' + color)= color
                    .section
                        h5 Using color classes
                    .section
                        h6 Background color
                        .wrapper
                            .blue.darken-4 This is a dark blue element
                            pre
                                code.language-html= '<div class="blue darken-4">\n  This is a element with dark blue text\n</div>'
                        h6 Text color
                        .wrapper
                            .blue-text.darken-4-text This is a element with dark blue text
                            pre
                                code.language-html= '<div class="blue-text darken-4-text">\n  This is a element with dark blue text\n</div>'
                        h6 Border color
                        .wrapper
                            .bordered.blue-border.darken-4-text This is a element with dark blue border
                            pre
                                code.language-html= '<div class="bordered blue-border darken-4-text">\n  This is a element with dark blue text\n</div>'
                        h6 Combine then
                        .wrapper
                            .bordered.wrapper.blue-grey.darken-3.green-text.lighten-1-text.orange-border.lighten-1-border This is a dark blue grey wrapper with light green text and orange borders.
                            pre
                                code.language-html='<div class="bordered wrapper blue-grey darken-3 green-text lighten-1-text orange-border lighten-1-border">\n  This is a element with dark blue text\n</div>'
                .section
                    h4 Grid
                    p
                        ='Materius use the '
                        a(href='http://flexboxgrid.com', target='_blank') flexboxgrid
                        =' system.'
                    h5 Responsive
                    p Responsive modifiers enable specifying different column sizes, offsets, alignment and distribution at xs, sm, md &amp; lg viewport widths.
                    .row.spaced
                        .col-xs-12.col-sm-3.col-md-2.col-lg-1
                            .wrapper-5.primary &nbsp;
                        .col-xs-6.col-sm-6.col-md-8.col-lg-10
                            .wrapper-5.primary &nbsp;
                        .col-xs-12.col-sm-3.col-md-2.col-lg-1
                            .wrapper-5.primary &nbsp;
                    .row.spaced
                        .col-xs-12.col-sm-3.col-md-2.col-lg-1
                            .wrapper-5.primary &nbsp;
                        .col-xs-6.col-sm-6.col-md-8.col-lg-10
                            .wrapper-5.primary &nbsp;
                        .col-xs-12.col-sm-3.col-md-2.col-lg-1
                            .wrapper-5.primary &nbsp;
                    .row.spaced
                        .col-xs-10.col-sm-6.col-md-8.col-lg-10
                            .wrapper-5.primary &nbsp;
                        .col-xs-2.col-sm-6.col-md-4.col-lg-2
                            .wrapper-5.primary &nbsp;
                    pre
                        code.language-html
                            ='<div class="row">\n  '
                            ='<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">\n    '
                            ='<!--Your content-->\n  '
                            ='</div>\n'
                            ='</div>'
                    h5 Simple syntax
                    p All you need to remember is row, column, content.
                    pre
                        code.language-html
                            ='<div class="row">\n  '
                            ='<div class="col-xs-12">\n    '
                            ='<!--Your content-->\n  '
                            ='</div>\n'
                            ='</div>'
                    h5 Offsets
                    p Offset a column.
                    - var n = 1;
                    while n < 11
                        .row.spaced
                            div(class='col-xs-'+n+' col-xs-offset-'+parseInt(12-n))
                                .wrapper-5.primary &nbsp;
                            - n++
                    pre
                        code.language-html
                            ='<div class="row">\n  '
                            ='<div class="col-xs-1 col-xs-offset-11">\n    '
                            ='<!--Your content-->\n  '
                            ='</div>\n'
                            ='</div>'
                    h5 Auto width
                    p Add any number of auto sizing columns to a row. Let the grid figure it out.
                    .row.spaced
                        .col-xs
                            .wrapper-5.primary &nbsp;
                        .col-xs
                            .wrapper-5.primary &nbsp;
                    .row.spaced
                        .col-xs
                            .wrapper-5.primary &nbsp;
                        .col-xs
                            .wrapper-5.primary &nbsp;
                        .col-xs
                            .wrapper-5.primary &nbsp;
                    pre
                        code.language-html
                            ='<div class="row">\n  '
                            ='<div class="col-xs">\n    '
                            ='<!--Your content-->\n  '
                            ='</div>\n  '
                            ='<div class="col-xs">\n    '
                            ='<!--Your content-->\n  '
                            ='</div>\n'
                            ='</div>'
                    h5 Nested Grids
                    p Nest grids inside grids inside grids.
                    .row
                        .col-xs-8
                            .wrapper-5.light-blue
                                .row
                                    .col-xs-8
                                        .wrapper-5.light-blue.darken-2
                                            .row
                                                .col-xs-4
                                                    .wrapper-5.light-blue.darken-4
                                                .col-xs-8
                                                    .wrapper-5.light-blue.darken-4
                                    .col-xs-4
                                        .wrapper-5.light-blue.darken-2
                                            .row
                                                .col-xs-4
                                                    .wrapper-5.light-blue.darken-4
                                                .col-xs-8
                                                    .wrapper-5.light-blue.darken-4
                        .col-xs-4
                            .wrapper-5.light-blue
                                .row
                                    .col-xs-6
                                        .wrapper-5.light-blue.darken-2
                                            .row
                                                .col-xs-4
                                                    .wrapper-5.light-blue.darken-4
                                                .col-xs-8
                                                    .wrapper-5.light-blue.darken-4
                                    .col-xs-6
                                        .wrapper-5.light-blue.darken-2
                                            .row
                                                .col-xs-4
                                                    .wrapper-5.light-blue.darken-4
                                                .col-xs-8
                                                    .wrapper-5.light-blue.darken-4
                    pre
                        code.language-html
                            ='<div class="row">\n  '
                            ='<div class="col-xs">\n    '
                            ='<div class="wrapper">\n      '
                            ='<div class="row">\n        '
                            ='<div class="col-xs">\n          '
                            ='<!--Your content-->\n        '
                            ='</div>\n      '
                            ='</div>\n    '
                            ='</div>\n  '
                            ='</div>\n'
                            ='</div>\n'



