html
    header
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Materius
        link(href="/styles/app.min.css", rel="stylesheet", type="text/css")
        link(href="/styles/prism.min.css?v=2", rel="stylesheet", type="text/css")
    body
        block navbar
            nav.navbar
                .container
                    a.brand(href='#') Materius
                    ul.menu
                        li: a(href='#') Geting started
                        li: a(href='#') CSS
                        li: a(href='#') Components
                        li: a(href='#') Javascript
        block content
        block footer
            footer.footer
                .container
                    .footer-content
                        .row
                            .col-xs-12.col-md-4
                                h5 Help us grow
                                p If you feel Materius has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.
                                form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                                    input(type="hidden", name="cmd", value="_s-xclick")
                                    input(type="hidden", name="hosted_button_id", value="CFZPGMNKEYUJ6")
                                    button.btn(type="submit", alt="PayPal - The safer, easier way to pay online!") Make a donate
                                    img(alt="", border="0", src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif", width="1", height="1")
                            .col-xs-12.col-md
                            .addthis_inline_share_toolbox
                            | <br>
                            a.github-button(
                                href="https://github.com/materius/framework",
                                data-style="mega",
                                data-count-href="/materius/framework/stargazers",
                                data-count-api="/repos/materius/framework#stargazers_count",
                                data-count-aria-label="# stargazers on GitHub",
                                aria-label="Star materius/framework on GitHub"
                            ) Star
                .copyright
                    .container
                        .row
                            .col-xs-12.col-md-6
                                p &copy; 2016 - Materius - All right reserved.
                            .col-xs-12.col-md-6
                                p.right-align
                                    span Made with
                                        = ' '
                                        i.mdi.mdi-heart.red-text.pulse
        script(src="/scripts/app.js")
        script(async, defer, src="https://buttons.github.io/buttons.js")
        script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55671d2e35201c6e")
